<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./views/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./views/assets/css/index.css">
    <title>Movie</title>
</head>

<body>
    <a href="./"></a>
    <header class="header header--static">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <button class="header__menu" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>

                        <a href="/index" class="header__logo">
                            <img src="./views/assets/logo/logo.png" alt="">
                        </a>

                        <ul class="header__nav">
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="#" role="button" id="dropdownMenu2"
                                    aria-haspopup="true" aria-expanded="false">Home</a>
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="#" role="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catalog</a>
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="#">Pricing plans</a>
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link header__nav-link--live" href="">LIVE</a>
                            </li>
                        </ul>

                        <div class="header__actions">
                            <form action="#" class="header__form">
                                <input class="header__form-input" type="text" placeholder="I'm looking for...">
                                <button type="button" class="header__form-close"></button>
                            </form>

                            <a href="/setup" class="header__user">
                                <span>set up</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M20,12a1,1,0,0,0-1-1H11.41l2.3-2.29a1,1,0,1,0-1.42-1.42l-4,4a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l4,4a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L11.41,13H19A1,1,0,0,0,20,12ZM17,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V16a1,1,0,0,0-2,0v3a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V8a1,1,0,0,0,2,0V5A3,3,0,0,0,17,2Z" />
                                </svg>
                            </a>
                            <a href="/admin" class="header__user">
                                <span>admin</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide" id="carousel-example-generic" data-ride="carousel" data-interval="1500">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="./views/assets/images/a.jpg">
                        </div>
                        <div class="item">
                            <img src="./views/assets/images/b.jpg">
                        </div>
                        <div class="item">
                            <img src="./views/assets/images/c.jpg">
                        </div>
                        <div class="item">
                            <img src="./views/assets/images/d.jpg">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="catalog">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="catalog__nav">
                        <div class="catalog__select-wrap">
                            <select class="form-control">
                                <option>comedy</option>
                                <option>Thriller</option>
                                <option>Romance</option>
                                <option>Horror</option>
                                <option>Action</option>
                                <option>Sci-Fi</option>
                                <option>Crime</option>
                                <option>War</option>
                            </select>
                        </div>

                        <div class="slider-radio">
                            <input type="radio" name="grade" id="featured" checked="checked"><label
                                for="featured">Featured</label>
                            <input type="radio" name="grade" id="popular"><label for="popular">Popular</label>
                            <input type="radio" name="grade" id="newest"><label for="newest">Newest</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="item_container">
        <div class="container">
            <div class="row" id='movielist'>
            </div>
        </div>
        <div class="col-12 morebox">
            <div class="more">
                LOAD MORE
            </div>
        </div>
    </section>



    <script src="./views/assets/js/jquery.js"></script>
    <script src="./views/assets/js/bootstrap.min.js"></script>
    <script src="./views/assets/js/alert.js"></script>

    <script>
        (function () {
            $.ajax({
                url: 'http://localhost:3000/api/picture/getMovie',
                type: 'get',
                success: function (data, res) {
                    console.log(data)
                    if (data.code !== 200) {
                        commonUtil.message('Failed to get movie information', 'warning')
                        return
                    }
                    var movieArr = data.data
                    console.log(movieArr)
                    for (var i = 0; i < movieArr.length; i++) {
                        var $item = $("<div class='col-6 col-sm-3 col-lg-2 col-xl-1'><div class='itembox'><div class='movie_image'><img src=" + 'http://localhost:3000/'
                            + movieArr[i].movie_image + "></div><div class='movie_title'>"
                            + movieArr[i].movie_title + "</div><div class='movie_box'><div class='movie_time'>"
                            + movieArr[i].movie_time + "&nbsp;minutes</div><div class='movie_type'>"
                            + movieArr[i].movie_type + "</div></div><button class='btn_buy'>Buy Tickets</button></div></div>");
                        $('#movielist').append($item);
                    }
                },
                error: function (data, err) {
                    console.log(err)
                }
            });
        })()
    </script>
</body>

</html>