.big {
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: fangsong;
    font-weight: 700;
    margin: 30px 0px;
}

.total{
    margin: 20px 0px 30px 0px;
}

.totalbox {
    border: 1px solid #ccc;
    text-align: center;
    width: 300px;
    height: 150px;
    margin: 0px 45px;
    background-color: #fff;
}

.logo {
    margin-top: 20px;
    font-size: 40px;
    color: #ccc;
}

.total_md {
    font-size: 20px;
    font-family: fangsong;
}

.total_bt {
    margin-top: 20px;
}

.modal-dialog {
    margin-top: 200px;
}

.form-box {
    text-align: center;
}

.form-item {
    margin: 10px 0px;
}

label {
    width: 100px;
}